@import url(https://www.cdnfonts.com/gotham.font);

*{
    font-family: 'Gotham';
} 

a {
    text-decoration: none;
}


li  {
    list-style-type: none;
    display: inline;
}

.evOption {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.evOption ul{
    display: inline-flex;
    list-style: none;
    margin-top: 90px;
}

.evOption li {
    background:rgba(218, 218, 218, 1);
    padding: 6px 60px;
    margin: 2px 4px;
    font-size: 24px;
    font-weight: 500;
}

.evOption li:hover{
    background-color: #DADADA;
}

.evFilter {
    /* display: flex; */
    position: absolute;
    justify-content: center;
    border-style:solid;
    width: 50%;
    margin-left: 25%;
    padding: 5px;
    z-index: 1;
}

.evFilter .dropdown {
    display: flex;
    margin-left: 25%;
    z-index: 1;
}

.dropbtn {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.dropbtn span {
    font-size: 10px;
}

.evFilter .filterDown {
    display: flex;
    position: relative;
    padding: 10px;
    z-index: 1;
}
 

.filterDown .slide {
    margin-left: 20px;
    width: 60%;
    z-index: 1;
}

.filterDown .slide .slideBar {
    width: 100%;
    background: black;
}

.filterDown .filterbtn {
    background-color: black;
    color: white;
    margin-left: 40px;
} 


.evDisplay{
    width: 1480px;
    height: 665px;
    margin-top: 4%;
    margin-left: 7%;
    border: 1px solid black;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
}


